.jumbotron {
    box-shadow: 4px 8px 16px 5px rgb(255, 127, 80);
    color: rgb(14, 9, 7);
  }
  .jumbotron:hover {
    box-shadow: 4px 8px 16px 5px rgb(100, 149, 237);
    color: rgb(230, 107, 6);
  }
  .card:hover {
    box-shadow: 4px 8px 16px 5px rgb(26, 26, 27);
  }
  