.jumbotron {
    box-shadow: 4px 8px 16px 5px #ff5093;
    color: rgb(14, 9, 7);
  }
  .jumbotron:hover {
    box-shadow: 4px 8px 16px 5px rgb(100, 149, 237);
    color: rgb(26, 25, 25);
  }
  .card:hover {
    box-shadow: 4px 8px 16px 5px rgb(26, 26, 27);
  }
  