.bg-black {
    background-color: rgb(139, 43, 8);
    color: rgb(84, 90, 102);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .nav-item {
    background-color: rgb(26, 127, 209);
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(120, 224, 22);
    color: black;
  }
  