.beef {
    justify-content: center;
    text-align: center;
  }
  form {
    justify-content: center;
  }
  .btn {
    background-color: rgb(97, 33, 10);
  }
  .btn:hover {
    background-color: rgb(174, 185, 204);
  }
  